# ------------------------------------------------------------------------------
# GitHub
# ------------------------------------------------------------------------------

Host github.com
  HostName github.com
  User git
  IdentityFile ~/.ssh/id_ed25519_github
  IdentitiesOnly yes

# ------------------------------------------------------------------------------
# Servers
# ------------------------------------------------------------------------------

Host my-server
  HostName your.server.ip.or.domain
  User admin
  IdentityFile ~/.ssh/id_ed25519_server
  IdentitiesOnly yes

Host my-database
  HostName your.database.ip.or.domain
  User admin
  IdentityFile ~/.ssh/id_ed25519_server
  IdentitiesOnly yes

Host my-work
  HostName your.work.ip.or.domain
  User your-user
  IdentityFile ~/.ssh/id_ed25519_work
  IdentitiesOnly yes
