// ------------------------------------------------------------------------------
// Layout: AutanaSoft
// Theme: tokyo-night-storm
// ------------------------------------------------------------------------------

layout {
    tab name="base" focus=true {
        pane
    }

    default_tab_template {
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                // --- color aliases (tokyo-night-storm) ---
                color_bg       "#24283b"
                color_fg       "#c0caf5"
                color_fg_dim   "#a9b1d6"
                color_green    "#9ece6a"
                color_blue     "#7aa2f7"
                color_purple   "#bb9af7"
                color_orange   "#ff9e64"
                color_red      "#f93357"
                color_cyan     "#2ac3de"

                // --- format ---
                format_left   "#[fg=$purple,bold] {mode} #[fg=$fg_dim] {tabs}"
                format_center "#[fg=$fg,bold] {session}"
                format_right  "#[fg=$blue] {datetime}"
                format_space  ""

                // --- border ---
                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=$fg_dim]{char}"
                border_position "top"

                // --- modes ---
                mode_normal "#[bg=$green,fg=$bg] NORMAL "
                mode_tmux   "#[bg=$orange,fg=$bg] TMUX "
                mode_locked "#[bg=$blue,fg=$bg] LOCKED "
                mode_pane   "#[bg=$purple,fg=$bg] PANE "
                mode_tab    "#[bg=$cyan,fg=$bg] TAB "
                mode_resize "#[bg=$orange,fg=$bg] RESIZE "
                mode_scroll "#[bg=$blue,fg=$bg] SCROLL "

                // --- tabs ---
                tab_normal "#[fg=$fg_dim] {index}:{name} "
                tab_active "#[fg=$green,bold,italic] {index}:{name} "

                // --- datetime ---
                datetime          "#[fg=$blue] {format} "
                datetime_format   "%A, %d %b %Y %I:%M %p"
                datetime_timezone "America/Caracas"
            }
        }
        children
    }
}
